:root {
  --main: #1e2554;
  --text: #fff;
  --back: #eaeaea;
  --sub: #444c7b;
  --accent: #878dae;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #eaeaea;
  color: #000;
}

li {
  list-style: None;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #000;
}

.header {
  height: 100px;
  width: 300px;
  align: center;
  padding: 0.5em 1em;
  margin: 10px auto;
  color: #fff;
  background-color: #1e2554;
  border-radius: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.header-logo {
  color: #fff;
  font-size: 30px;
  margin: 10px 10px 0px 10px;
  text-align: center;
}

.header-list {
   text-align: center;
}

.header-list li {
  float: left;
  margin: 0px 10px;
  padding: 0px;
  text-align: center;
}

.main {
  margin: 0 12px;
  color: var(--text);
}

.contents-box {
  border-left: solid 10px #1e2554;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  transition: border-left 0.3s;
  color: #1e2554;
  background-color: #fff;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  margin-top: 20px;
}

.contents {
  clear: both;
  padding-top: 5px;
}

.btn {
  float: left;
  align: center;
  width: 120px;
  height: 30px;
  color: #000;
  background-color: #1e2554;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin: 8px;
  padding-top: 14px;
}

.footer {
  clear: both;
  border-top: 2px solid #1e2554;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
